<h1> Edit <%= @clown.name %></h1>
<img style="max-height: 200px;" src="<%= @clown.image_url %>" alt="<%= @clown.name %>">

<form action="/clowns/<%= @clown.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>Name:
    <input type="text" name="name" value="<%= @clown.name %>">
  </label>
  <label>Talent:
    <input type="text" name="talent" value="<%= @clown.talent %>">
  </label>
  <label>Is this clown creepy?
    <input type="checkbox" name="is_creepy"  <%= @clown.is_creepy ? "checked" : "" %> >
  </label>
  <label>Clownpic:
    <input type="text" name="image_url" value="<%= @clown.image_url %>">
  </label>
  <button>Edit Clown</button>
</form>
