<h1>Edit an author</h1>

<form action="/authors/<%= @author.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
    <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
      <label>
      Author name:
      <input type="text" name="name" value="<%= @author.name %>">
      </label>

      <label>
      Author birthday:
      <input type="date" name="dob" value="<%= @author.dob %> ">
      </label>

    <label>
      Author gender:
    <input type="text" name="gender" value="<%= @author.gender %> ">
    </label>

    <label>
      Does the author have a psuedonym?
      <input type="checkbox" name="has_psuedonym" <%= @author.has_psuedonym ? "checked" : "" %> >
    </label>

    <input type="submit" value="update entry">

  </form>
