<h1>Listing moons</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Planet</th>
    <th>Is solid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @moons.each do |moon| %>
  <tr>
    <td><%= moon.name %></td>
    <td><%= moon.planet_id %></td>
    <td><%= moon.is_solid %></td>
    <td><%= link_to 'Show', moon %></td>
    <td><%= link_to 'Edit', edit_moon_path(moon) %></td>
    <td><%= link_to 'Destroy', moon, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Moon', new_moon_path %>
