<!-- All Superheros Link -->
<%= link_to "All Events",venue_events_path %>

<h1><%= @event.band %></h1>
<p><%= @event.venue %></p>
<p><%= @event.date %></p>
<p><%= @event.time %></p>

<p><%= link_to "Home", root_path %></p>

