<% title "Categories" %>

<table>
  <tr>
    <th>Name</th>
  </tr>
  <% @categories.each do |category| %>
    <tr>
      <td><%= category.name %></td>
      <td><%= link_to "Show", category %></td>
      <td><%= link_to "Edit", edit_category_path(category) if(can? :update, category) %></td>
      <td><%= link_to "Destroy", category, confirm: 'Are you sure?', method: :delete if(can? :destroy, category) %></td>
    </tr>
  <% end %>
</table>

<% if can? :create, User %>
  <p><%= link_to "New Category", new_category_path %></p>
<% end %>
