<!DOCTYPE html>
<html>
<head>
  <title>CookbookOnRails</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <header>
    <h1>Cookbook y'all!</h1>

    <% if current_user %>
      <p> <%=current_user.email%></p>
      <%= link_to 'logout', logout_path %>
    <%else%>
      <%= link_to 'login!', login_path %> 
    <%end%>

    <h3>quick search</h3>
    <%= search_form_for @q do |f| %>
        <p>
          <%= f.label :name_cont, "Recipe name contains" %>
          <%= f.text_field :name_cont %>
        </p>
        <p>
          <%= f.submit %>
        </p>
    <% end %>

    <% flash.each do |name, msg| %>
    <div class="flash-message flash-message-<%= name %>">
      <%= msg %>
    </div>
    <% end %>

    

    <nav>
        <ul>
          <li><%= link_to 'Recipes', recipes_path %></li>
                
          <li><%= link_to 'Ingredients', ingredients_path %></li>

          <li><%= link_to 'Categories', categories_path %></li>
                 
        </ul>
    </nav>
  </header>  

<%= yield %>
</div>

</body>
</html>
