<h1>Book a band for the <%= @venue.name %></h1>

<% @bands.each do |band| %>
<ul>
  <li>
    <%= band.name %><%= render "manage_form" %>
    <label>Band ID:</label>
    <input type="integer" value="<%= band.id %>">
  </li>
</ul>
<% end %>

<button><%= link_to "Cancel", venue_events_path %></button>

