<!-- RAILSCAFE2 -->

<h1>Our Beans v 2.0</h1>
<p>
  <%= link_to "Light Roasts Only", beans_path(beanfilter:"light") %>
  <%= link_to "Show All",          beans_path(beanfilter:"showall") %>
  <br>
</p>
<ul>
  <% @beans.each do |b| %>
  <li>
    <strong> <%= b.name %> </strong> --[ <%= b.roast %> ] 
    <%= link_to "Click for bean info", bean_path(b) %>
  </li>
  <% end %>
</ul>