<!--

@Author: stephenstanwood
@Date:   2014-05-16 10:11:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-16 10:55:19

 -->

<h1>Edit <%= @hero.name %></h1>

<!-- Hero Edit Form -->
<%= render "manage_form" %>

<hr>

<!-- Hero Delete -->
<%= form_for @hero, method: "delete" do |f| %>
  <%= f.submit "Delete" %>
<% end %>

<!-- Cancel -->

<p><%= link_to "Cancel", @hero %></p>
