<!--

@Author: stephenstanwood
@Date:   2014-05-16 10:11:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-16 10:41:09

 -->

<!-- All Superheros Link -->
<%= link_to "All Heros", heros_path %>

<h1><%= @hero.name %></h1>
<p><%= @hero.secret_identity %></p>

<!-- Hero Image -->
<%= image_tag @hero.image_url, alt:"", class: "hero" %>

<!-- Hero Edit link -->
<p><%= link_to "Edit", edit_hero_path(@hero) %></p>

