<h1> Edit <%= @author.name %> </h1>

<form action="/authors/<%= @author.id %>" method= "post">
  <input type="hidden" name="_method" value="patch">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >

  <label>
    Name:
      <input type="text" name="name" value="<%= @author.name %>"
  </label>

  <label>
    Birthday:
      <input type="date" name="birthday" value="<%= @author.birthday %>"
  </label>

  <label>
    Gender:
      <input type="text" name="gender" value="<%= @author.gender %>"
  </label>

  <label>
    Has Pseudonym?:
      <input type="checkbox" name="has_pseudo" <%= @author.has_pseudo ? "checked" : "" %> >
  </label>

  <input type="submit" value="update <%= @author.name %>"></input>
</form>
