<h1><%= @dino.name %></h1>

<p>This Dino is a <%= @dino.name %> from the <%= @dino.era %> period. And is <%= @dino.weight %> tons. It has <%= @dino.horns %> horns and is a <%= @dino.diet %> eater</p>

<%= link_to "Back to the list!", dinos_path %>