<h1>Person: <%= @person.name %></h1>

<dl>
  <dt>Age</dt>
  <dd><%= @person.age %></dd>

  <dt>Height In Inches</dt>
  <dd><%= @person.height_in_inches %></dd>

  <dt>Eye Color</dt>
  <dd><%= @person.eye_color %></dd>

  <dt>Hair Color</dt>
  <dd><%= @person.hair_color %></dd>

</dl>