<section>
  <article>
    <dl>
      <dt>Name :</dt>
      <dd><%=@recipe.name%></dd>
    </dl>

    <dl>
      <dt>Category :</dt>
      <dd><%=@recipe.category.name%></dd>
    </dl>

    <dl>
      <dt>Description :</dt>
      <dd><%=@recipe.description%></dd>
    </dl>

    <dl>
      <dt>Instructions :</dt>
      <dd><%=@recipe.instructions %></dd>
    </dl>

    <dl>
      <dt>Published on :</dt>
      <dd><%=@recipe.published_on %></dd>
    </dl>

    <dl>
      <dt>Ingredients :</dt>
      <dd><%=@recipe.ingredients.map(&:name).join(', ') %></dd>
    </dl>

    <div class='clear_both'></div>

    <div>
      <a href="/recipes/<%=@recipe.id%>/delete">delete</a>
    </div>
    <div>
      <a href="/recipes/<%=@recipe.id%>/edit">edit</a>
    </div>

  </article>
</section>