<h1><%= @bean.name %></h1>

<p>This coffee is a <b><%= @bean.roast %></b> roast from <i><%= @bean.origin %></i>, and we have <%= @bean.quantity %> pounds available. </p>

<%= link_to "Delete", :bean, method: :delete, data: { confirm: "Are you sure you want to delete #{@bean.name}?"} %>

<%= link_to "Back to the list!", beans_path %>