<hr>
<img src="<%= @entry.photo_url %>"
width="200px" height="200px">
<br>
<h2>Author: </h2>
<%= @entry.author %><br>
<h2>Date Taken: </h2>
<%= @entry.date_taken %><br>

<a href="/"><button>BACK</button></a><br>

<a href="<%= @entry.id %>/edit">
  <button>EDIT THIS ENTRY</button></a><br>


  <a href="<%= @entry.id %>/delete">
  <button>DELETE THIS ENTRY</button></a><br>




  <hr>
