<h1>Welcome</h1>

<h2>What would you like to do?</h2>
<ul class="indexlist">
  <li><%= link_to "See all venues", venues_path %></li>
  <li><%= link_to "Create a new venue", new_venue_path %></li>
  <li><%= link_to "See all bands", bands_path %></li>
  <li><%= link_to "Create a new band", new_band_path %></li>
  <li><%= link_to "Search events by date", events_search_path %></li>
</ul>
