<!--

@Author: stephenstanwood
@Date:   2014-05-12 15:43:56
@Last Modified by:   stephenstanwood
@Last Modified time: 2014-05-12 19:05:36

 -->

<h1>Editing <%= @koopa.name %>...</h1>

<form action="/koopas/<%= @koopa.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label for "name">
    Name:<input type="text" id="name" name="name" value="<%= @koopa.name %>">
  </label>
  <label for "color">
    Color:<input type="text" id="color" name="color" value="<%= @koopa.color %>">
  </label>
  <label for "has_shell">
    Has Shell? <input type="checkbox" id="has_shell" name="has_shell" <% if @koopa.has_shell %>checked<% end %>>
  </label>
  <label for "image_url">
    Image URL:<input type="text" id="image_url" name="image_url" value="<%= @koopa.image_url %>">
  </label>

  <button>Update!</button>
</form>
