<h1>Edit <%= @venue.name %></h1>

<!-- Hero Edit Form -->
<%= render "manage_form" %>

<hr>



<!-- Hero Delete -->
<%= form_for @venue, method: 'delete' do |f| %>
  <%= f.submit "Delete" %>
<% end %>

<!-- Cancel -->
<p><%= link_to "Cancel", @venue %></p>
