  <div class="row">
    <div class="col-sm-4 col-sm-offset-2">
      <h1>
        WDI Office Hours
      </h1>
      <h2>
        Queue for office hours! <%= Time.now.strftime("%A") %> <%= Date.today %>
      </h2>
      Your Instructors and TAs tonight are:
      <%= @office_hours_helpers %>
      <hr>

      Delete off a turn once their complete

      <ul class="list-group">

        <% @turns.each do |t| %>

          <li class="list-group-item">
            <% if current_user.is_admin %>
              <%= link_to "X", turn_path(t.id), method: :delete, class: "btn btn-primary pull-right"%>
            <% else %>
              <%= link_to "you have to be an admin to delete", turn_path(t.id), method: :delete, class: "btn btn-primary pull-right", disabled: true %>
            <% end %>
            <h4 class="list-group-item-heading"><%= t.user.name %></h4>
            <p class="list-group-item-text">Subject: <%= t.subject %></p>
            <p class="list-group-item-text">Question: <%= t.question %></p>
          </li>

        <% end %>

      </ul>
    </div>
    <div class="col-sm-3 col-sm-offset-1">
      <h2>
        Please wait your turn and add yourself to the queue
      </h2>
      <hr>
      <%= link_to 'Add me to the queue!', new_turn_path, class: 'btn btn-primary btn-large' %>

    </div>

  </div>
