<h1>Update <%= @character.name %>'s Info</h1>

<%= form_for @character do |f| %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <fieldset>
    <legend>Gender</legend>
    <%= f.label :gender, "Male:"%>
    <%= f.radio_button :gender, "m" %>
    <%= f.label :gender, "Female:"%>
    <%= f.radio_button :gender, "f" %>
  </fieldset>

  <%= f.label :quirk %>
  <%= f.text_field :quirk %>
  
  <fieldset>
    <legend>Books</legend>
    <%= f.collection_check_boxes :book_ids, Book.all, :id, :title %>
  </fieldset>

  <%= f.submit "Edit character" %>
<% end %>