<h1><%= @movie["Title"] %></h1>

<%= form_for :movie, url: movies_path do |f| %>

  <%= f.hidden_field :title, :value => @movie["Title"] %>
  <%= f.submit "Save This Movie" %>

<% end %>

<img src="<%= @movie["Poster"] %>" >

<% if @movie["Plot"] %>
  <p><%= @movie["Plot"] %></p>
<% else %>
  <p>No Plot Available</p>
<% end %>


