<h1> Edit <%= @koopa.name %> </h1>

<form action="/koopas/<%= @koopa.id %>" method="post">
  <input type="hidden" name="_method" value="patch">

  <label>
    Name:
    <input type="text" name="name" value="<%= @koopa.name %>">
  </label>

  <label>
    Color:
    <input type="text" name="talent" value="<%= @koopa.color %>">
  </label>

  <label>
    Shell?:
    <input type="checkbox" name="has_shell" <%= @koopa.has_shell ? "checked" : "" %> >
  </label>

  <label>
    Photo URL:
    <input type="text" name="photo_url" value="<%= @koopa.photo_url %>">
  </label>

  <button> Update this Shell slinging turt! </button>
</form>
