<h1> Edit <%= @clown.name %></h1>

<form action="/clowns/<%=@clown.id%>" method="poast">
  <input type="hidden" name="_method" value="patch">

 <label>
    Name:
    <input type="text" name="name" value="<%= @clown.name %>">
  </label>

  <label>
    Creepy?:
    <input type="checkbox" name="is_creepy" "<%= @clown.is_creepy ? "checked" : "" %>">
  </label>

  <label>
    Image:
    <input type="text" name="image_url" value="<%= @clown.image_url %>">
  </label>
  <button>CREATE CLOWN!!!!!!!</button>

</form>
