<h1>Play.er</h1>

<%= form_for :song, html: {id: "form-add-song"} do |f| %>
  <%= f.text_field :title,       placeholder: "Title" %>
  <%= f.text_field :artist,      placeholder: "Artist" %>
  <%= f.text_field :preview_url, placeholder: "Spotify URL" %>
  <%= f.submit "Add song to playlist" %>
<% end %>

<h2>Playlist</h2>
<table>
  <thead>
    <th>Title</th>
    <th>Artist</th>
    <th>Preview</th>
    <th></th>
  </thead>
  <tbody id="tbody-playlist">
    <% @songs.each do |song| %>
      <%= content_tag :tr, :"data-song-id" => song.id do %>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td>
          <%= content_tag :iframe, nil, src: spotifyEmbedLink(song.preview_url), width: 300, height: 80, frameborder: 0, allowtransparency: true %>
        </td>
        <td>
          <%= button_to "Delete", song_path(song), method: :delete, class: "btn-delete-song" %>
        </td>
      <% end %>
    <% end %>
  </tbody>
</table>