  <div class="row">

    <div class="col-sm-3 col-sm-offset-1">
      <h2>
        Edit your turn:
      </h2>
      <hr>
      <%= form_for @turn do |f| %>
        <%= f.text_field :name, size: "40", placeholder: "Name" %>
        <%= f.text_field :subject, size: "40", placeholder: "Subject" %>
        <%= f.text_area :question, size: "42x12", placeholder: "Question" %>
        <%= f.submit "Edit", class: 'btn btn-primary btn-large' %>
      <% end %><br>
      <%= link_to "Back to queue", turns_path, class: 'btn btn-primary btn-sm' %>
    </div>
    
</div>
