<!-- All Venues Link -->
<%= link_to "All Venues", venues_path %>

<h1><%= @venue.name %></h1>
<h2><%= @venue.city %>, <%= @venue.state %></h2>

<!-- List of events !-->

<% @events.each do |event| %>
  <%= link_to event.band.name, event.band %> - <%= event.date %>
  <iframe id="ytplayer" type="text/html" width="640" height="390"
  src="<%= event.band.video_embed_url %>"
  frameborder="0"/>
<% end %>

<div class="form">
  <h2>Add an Event</h2>
  <%= form_for [@venue, @event] do |f| %>
    <%= f.label :date %>
    <%= f.date_field :date %>

    <%= f.label :time %>
    <%= f.time_field :time %>


  <!--  need a dropdown menu for bands  -->
    <%= f.label :band %>
    <%= f.collection_select :band_id, Band.all, :id, :name %>

    <%= f.submit "Submit" %>
  <% end %>
</div>


