<!DOCTYPE html>
<html>
<head>
  <title>BandIo</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <div class="nav"><%= link_to "Back to Homepage", root_path %></div>
    <%= yield %>
  </div>

</body>
</html>
