<h1>All about <%= @author.name %></h1>

<p>Date of birth: <%= @author.date_of_birth %></p>
<p>Gender: <%= @author.gender %></p>
<p>Has a pseudonym: <%= @author.has_pseudonym %></p>

<p><%= @author.name %>'s Books:</p>
<% @books.each do |book| %>
<ul>
<li><a href="/books/<%= book.id %>"><%= book.title %></a></li>
</ul>
<% end %>

<a href="/authors/<%= @author.id %>/books/new">Add a book by this author</a>

<form action="/authors/<%= @author.id %>" method="post">
  <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>" >
  <input type="hidden" name="_method" value="delete">
    <button>Delete this author</button>
</form>


