%h1 Sign Up

= form_for @user do |f|

  - if @user.errors.any?
    .error-messages
      %h2 Form is invalid
      %ul
        - for message in @user.errors.full_messages
          %li= message

  .field
    = f.label :name
    %br/
    = f.text_field :name
  .field
    = f.label :email
    %br/
    = f.email_field :email
  .field
    = f.label :password
    %br/
    = f.password_field :password
  .field
    = f.label :password_confirmation
    %br/
    = f.password_field :password_confirmation
  .actions
    = f.submit